* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}


/* style for nav *************************************************************************/

header {
    background-color: white;
    text-align: center;
    padding: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

}

nav {
    margin: auto;


}

nav:hover {
    /* transform: scale(1.03); */
    /*  transition: 0.5s; */
    cursor: pointer;
}


nav a {
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px;
    margin: 20px;
    color: rgb(0, 0, 0);
    position: relative;
}

nav a:hover {
    color: black;
    /* transition: .4s ease; */
    border-bottom: 1px solid #000;
    padding-bottom: 3px;

}


.logo {
    /*  position: absolute;
    left: 10px;
    top: 15px; */
    /* display: flex;
    flex-direction:row; */
    /*  float: left; */
    /*  margin-top: 0 auto;
    display: flex;
    flex-direction: column-reverse; */
    /* font-family: 'Rubik Moonrocks', cursive; */
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    letter-spacing: 8px;
    margin-left: 4%;
    /* padding-left: 30px; */
    width: 150px;

}

/* end style for nav ********* **************************************************************/





#bgcVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}









/* parallax ********************** */

.parallaxBG {
    background-image: url(img/5.jpg);
    /* Set a specific height */
    min-height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}

.slide1 {
    background-image: url(img/3cropped.jpeg);
    /* Full height */
    height: 800px;
    width: 55%;
    margin: 0 auto;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* making slide1 into parallax */
    background-attachment: fixed;
    border-radius: 10px;

    /* display: flex;
    flex-direction: row; */
}

.slide2 {
    background-image: url(img/2cropped.jpeg);
    /* Full height */
    height: 800px;
    width: 55%;
    margin: 0 auto;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* making slide into parallax */
    background-attachment: fixed;
    display: flex;
    border-radius: 10px;
}

.slide3 {
    background-image: url(img/7cropped.jpeg);
    /* Full height */
    height: 500px;
    width: 55%;
    margin: 0 auto;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* making slide into parallax */
    background-attachment: fixed;
    display: flex;
    border-radius: 10px;
}

/* end of parallax ******************* */

.text {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    color: #f7eeef;
    background-color: #345646a6;
    border-radius: 10px;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-weight: 800;
    width: 70%;

}



article {
    position: relative;
}

.container {
    margin: 10rem auto;
    /* margin-top: 10rem; */
    width: 55%;
    /* margin: auto; */
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 20px;


}




/* footer *************************************** */


footer a,
p {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

footer a:hover {
    font-size: 18px;
}


/* end of instagram icon ******************************************************************* */

/* end of footer ********************************** */

/*  ROWS and COLUMNS *************************************** */

.row {
    display: flex;
    flex-flow: row wrap;
}

.col-1 {
    width: 8.333333%;
    padding: 25px;
}

.col-2 {
    width: 16.6666%;
    padding: 25px;
}

.col-3 {
    width: 25%;
    padding: 25px;
}

.col-4 {
    width: 33.333333%;
    padding: 50px;
}

.col-5 {
    width: 41.6666666%;
    padding: 25px;
}

.col-6 {
    width: 50%;
    padding: 25px;
}

.col-7 {
    width: 58.333333%;
    padding: 25px;
}

.col-8 {
    width: 66.666666%;
    padding: 25px;
}

.col-9 {
    width: 75%;
    padding: 25px;
}

.col-10 {
    width: 83.333333%;
    padding: 25px;
}

.col-11 {
    width: 91.666666%;
    padding: 25px;
}

/* cookie banner ************************************ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f8ff;
}





.hide {
    visibility: hidden;
    bottom: 0;
    right: 2em;
}

.show {
    visibility: visible;
    bottom: 2em;
    right: 2em;
}



/* end of cookie banner ********************************** */

@media screen and (max-width: 991px) {

    h2 {
        font-size: 4em;
    }

    .col-12 {
        width: 100%;
        padding: 25px;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    nav a {
        letter-spacing: 2px;
        font-size: 16px;
        margin: 10px;
    }


    .container {
        width: 55%;
    }

}