* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e5e1de;
}


/* style for nav ***************/

header {
    background-color: white;
    text-align: center;
    padding: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

nav {
    margin: 0 auto;
}

nav:hover {
  /*   transform: scale(1.03);
    transition: 0.5s; */
    cursor: pointer;
}


nav a {
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px;
    margin: 40px;
    color: rgb(0, 0, 0);
    position: relative;
}

nav a:hover {
    color: black;
    /* transition: .4s ease; */
    border-bottom: 1px solid #000;
    padding-bottom: 3px;

}


.logo {
    /*  position: absolute;
        left: 10px;
        top: 15px; */
    /* display: flex;
        flex-direction:row; */
    /*  float: left; */
    /*  margin-top: 0 auto;
        display: flex;
        flex-direction: column-reverse; */
    /* font-family: 'Rubik Moonrocks', cursive; */
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    letter-spacing: 8px;
    margin-left: 4%;
    /* padding-left: 30px; */
    width: 150px;

}



/* end style for nav ********* ******************/


/* style for col-6 img ...half *********************** */


#rangee .col-6 {
    height: 100vh;
}

#bgImg {
    /* display: flex;
    flex-direction: row;
    width: auto; */
    height: 700px;
    background-image: url(img/5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

/* .col-6 img {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    margin: auto;

} */
/* .half {
    height: 30%;
} */
#contact {
    /* background-color: #cdd0d3; */
    background: linear-gradient(90deg, #1d2629 0%, #2e393d 28%, #abb5be 100%);
    height: auto;
    display: flex;
    flex-direction: column;
}

/* end of style img col-6 ...half *********************** */






/* #bgcVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
} */

/* arrow********** */
.arrow {
    color: #ffffff;
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
}

/* end of arrow ******* */

h1 {
    margin-top: 100px;
    padding: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.9em;
    /* text-shadow: 2px 2px black; */
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.5px;
    background-color: #cdd0d3;
    background: linear-gradient(90deg, #1d2629 0%, #2e393d 28%, #abb5be 100%);
}

.email {
    margin-top: 50px;
    text-align: center;

}

.email a {
    font-family: 'Dosis', sans-serif;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 20px;
}

.email a:hover {
    background-color: #82888d;
    transition: 0.3s;
    color: rgb(255, 255, 255);
}

.container {
    margin: auto;
}

/* instagram icon****************** */
.social {
    text-align: center;
    margin-bottom: 100px;
    padding-top: 50px;
}

.social i {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.social:hover {
    transform: scale(1.3);
    transition: 0.5s;
}


/* end of instagram icon ****************** */







/*  ROWS and COLUMNS *************************************** */

/* .row {
    display: flex;
    flex-flow: row wrap;
}

.col-1 {
    width: 8.333333%;
    padding: 25px;
}

.col-2 {
    width: 16.6666%;
    padding: 25px;
}

.col-3 {
    width: 25%;
    padding: 25px;
}

.col-4 {
    width: 33.333333%;
    padding: 50px;
}

.col-5 {
    width: 41.6666666%;
    padding: 25px;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
    padding: 25px;
}

.col-8 {
    width: 66.666666%;
    padding: 25px;
}

.col-9 {
    width: 75%;
    padding: 25px;
}

.col-10 {
    width: 83.333333%;
    padding: 25px;
}

.col-11 {
    width: 91.666666%;
    padding: 25px;
}

.col-12 {
    width: 100%;
    padding: 25px;
} */

@media screen and (max-width: 991px) {

    h2 {
        font-size: 4em;
    }

    .col-12 {
        width: 100%;
        padding: 25px;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    nav a {
        letter-spacing: 2px;
        font-size: 16px;
        margin: 10px;
    }

    nav a:last-of-type {
        display: none;
    }
    h1 {
        font-size: 1.3em;
    }
}