* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}


/* style for nav *************************************************************************/

header {
    background-color: white;
    text-align: center;
    padding: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

}

nav {
    margin: auto;


}

nav:hover {
    /* transform: scale(1.03); */
    /*  transition: 0.5s; */
    cursor: pointer;
}


nav a {
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px;
    margin: 20px;
    color: rgb(0, 0, 0);
    position: relative;
}

nav a:hover {
    color: black;
    /* transition: .4s ease; */
    border-bottom: 1px solid #000;
    padding-bottom: 3px;

}


.logo {
    /*  position: absolute;
    left: 10px;
    top: 15px; */
    /* display: flex;
    flex-direction:row; */
    /*  float: left; */
    /*  margin-top: 0 auto;
    display: flex;
    flex-direction: column-reverse; */
    /* font-family: 'Rubik Moonrocks', cursive; */
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    letter-spacing: 8px;
    margin-left: 4%;
    /* padding-left: 30px; */
    width: 150px;

}

/* end style for nav ********* **************************************************************/





#bgcVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


h2 {
    margin-top: 150px;
    margin-bottom: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 7em;
    text-shadow: 3px 3px rgb(0, 0, 0);
    font-family: 'Dosis', sans-serif;
    letter-spacing: 20px;
    background-color: rgba(255, 255, 255, 0.462);
    border-radius: 20px;
    padding: 20px;
    cursor: default;
}
h4 {
    margin-top: 150px;
        margin-bottom: 100px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 3em;
        text-shadow: 3px 3px rgb(0, 0, 0);
        font-family: 'Dosis', sans-serif;
        letter-spacing: 20px;
        background-color: rgba(255, 255, 255, 0.462);
        border-radius: 20px;
        padding: 20px;
        cursor: default;
}

.containerH2 {
    width: 70%;
    margin: auto auto 30% auto;
}

.arrow {
    text-align: center;
}

.arrow i {
    color: white;
    font-size: 3em;
    text-shadow: 1px 1px black;
    ;
}



/* product photos **********************/
.col-4 img {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin: auto auto 10% auto;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.carousel-item img:hover {
    transform: scale(1.1);
}

article {
    position: relative;
}

.container {
    margin: 10rem auto;
    /* margin-top: 10rem; */
    width: 85%;
     /* margin: auto; */
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;


}


/* end product photos */

/* description and price **************************************** */


.carousel {
    position: relative;
    background-color: rgba(255, 255, 255, 0);

}

.priceTag {
    position: absolute;
    bottom: 88%;
    left: 37%;
    background-color: rgba(255, 255, 255, 0.77);
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    font-size: 25px;
}

.carousel p {
    text-align: center;
    margin: 0;
    width: auto;
}

/* end of description and price ******************************** */


/* footer *************************************** */
/* instagram icon   *********************************************************************** */
.social {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.social i {
    color: white;
    font-size: 40px;
}

.social:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

footer a,
p {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

footer a:hover {
    font-size: 18px;
}


/* end of instagram icon ******************************************************************* */

/* end of footer ********************************** */

/*  ROWS and COLUMNS *************************************** */

.row {
    display: flex;
    flex-flow: row wrap;
}

.col-1 {
    width: 8.333333%;
    padding: 25px;
}

.col-2 {
    width: 16.6666%;
    padding: 25px;
}

.col-3 {
    width: 25%;
    padding: 25px;
}

.col-4 {
    width: 33.333333%;
    padding: 50px;
}

.col-5 {
    width: 41.6666666%;
    padding: 25px;
}

.col-6 {
    width: 50%;
    padding: 25px;
}

.col-7 {
    width: 58.333333%;
    padding: 25px;
}

.col-8 {
    width: 66.666666%;
    padding: 25px;
}

.col-9 {
    width: 75%;
    padding: 25px;
}

.col-10 {
    width: 83.333333%;
    padding: 25px;
}

.col-11 {
    width: 91.666666%;
    padding: 25px;
}

/* cookie banner ************************************ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f8ff;
}

#cookiePopup {
    background-color: #ffffffdc;
    position: absolute;
    font-size: 14px;
    width: 70vw;
    max-width: 42.85em;
    box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
    font-family: "Poppins", sans-serif;
    text-align: justify;
    line-height: 1.8em;
    padding: 2em 1.4em;
    border-radius: 6px;
    transition: all 0.5s ease-in;
}

#cookiePopup img {
    display: block;
    width: 3.75em;
    transform: translateZ(0);
    position: relative;
    margin: auto;
}

#cookiePopup p {
    text-align: center;
    margin: 1.4em 0;
    color: #000;
}

#cookiePopup button {
    background-color: #c78a57;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    padding: 0.6em 1.2em;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px;
}

#cookiePopup a {
    color: #6859fe;
}

.hide {
    visibility: hidden;
    bottom: 0;
    right: 2em;
}

.show {
    visibility: visible;
    bottom: 2em;
    right: 2em;
}



/* end of cookie banner ********************************** */

@media screen and (max-width: 991px) {

    h2 {
        font-size: 4em;
    }

    .col-12 {
        width: 100%;
        padding: 25px;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    nav a {
        letter-spacing: 2px;
        font-size: 10px;
        margin: 10px;
    }

    .cart {
        font-size: 10px;
    }
    .cart img {
        min-width: 100px;

    }

    /* cookie */
    #cookiePopup {
        width: 100%;
    }

    .hide {
        bottom: 2em;
        right: 0;
    }

    .show {
        right: 0;
        bottom: 0;
    }
}

/* Ç****************************** style for form **************************** */

.row {
    font-family: 'IBM Plex Sans', sans-serif !important;
}

#signInBgc {
    background-color: #ffffffc4;
}

.btn-sub {
    background-color: #23464c;
    color: white;
}

.btn-sub:hover {
    background-color: #537d85 !important;
    color: white !important;
}


/* **************** end of form style *************** */


/* ************ add form products *********** *******************/



.card {
    background-color: #23464cba;
}
.cardSpace {
    padding: 2rem;
    margin: 2rem;
}

/* *******************end of add form products****************** */