* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}


/* style for nav *************************************************************************/

header {
    background-color: white;
    text-align: center;
    padding: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

nav {
    margin: auto;
}


nav a {
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px;
    margin: 40px;
    color: rgb(0, 0, 0);
    position: relative;
}

nav a:hover {
    color: black;
    transition: .4s ease;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;

}


.logo {
    /*  position: absolute;
    left: 10px;
    top: 15px; */
    /* display: flex;
    flex-direction:row; */
    /*  float: left; */
    /*  margin-top: 0 auto;
    display: flex;
    flex-direction: column-reverse; */
    /* font-family: 'Rubik Moonrocks', cursive; */
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    letter-spacing: 8px;
    margin-left: 4%;
    /* padding-left: 30px; */

}

/* end style for nav ********* **************************************************************/

/* instagram icon   *********************************************************************** */
.social {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.social i {
    color: white;
    font-size: 40px;
}

/* end of instagram icon ******************************************************************* */



#bgcVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


h2 {
    margin-top: 200px;
    margin-bottom: 300px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 7em;
    text-shadow: 2px 2px black;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 20px;
    background-color: rgba(255, 255, 255, 0.462);
    border-radius: 20px;
}

.containerH2 {
    width: 70%;
    margin: auto auto 30% auto;
}



/* product photos */
.col-4 img {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin: auto auto 10% auto;
    position: relative;

}

article {
    position: relative;
}

.container {
    margin: auto;
    width: 95%;
    /*  margin: auto; */
    background-color: white;
    border-radius: 20px;
}


/* end product photos */

/* description and price **************************************** */


.carousel {
    position: relative;
    background-color: white;
}

.priceTag {
    position: absolute;
    bottom: 88%;
    left: 37%;
    background-color: rgba(255, 255, 255, 0.77);
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    font-size: 25px;
}

.carousel p {
    text-align: center;
    margin: 0;
    width: auto;
}

/* end of description and price ******************************** */






/*  ROWS and COLUMNS *************************************** */

.row {
    display: flex;
    flex-flow: row wrap;
}

.col-1 {
    width: 8.333333%;
    padding: 25px;
}

.col-2 {
    width: 16.6666%;
    padding: 25px;
}

.col-3 {
    width: 25%;
    padding: 25px;
}

.col-4 {
    width: 33.333333%;
    padding: 50px;
}

.col-5 {
    width: 41.6666666%;
    padding: 25px;
}

.col-6 {
    width: 50%;
    padding: 25px;
}

.col-7 {
    width: 58.333333%;
    padding: 25px;
}

.col-8 {
    width: 66.666666%;
    padding: 25px;
}

.col-9 {
    width: 75%;
    padding: 25px;
}

.col-10 {
    width: 83.333333%;
    padding: 25px;
}

.col-11 {
    width: 91.666666%;
    padding: 25px;
}

.col-12 {
    width: 100%;
    padding: 25px;
}